@import "./variables";

.c-Header {
  background: rgba( 255, 255, 255, 0.75);
  position: fixed;
    top: 0;
    left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.75;
  transition: opacity 150ms ease;

  &:hover {
    opacity: 1;
  }

}
