@import "./variables";

@component c-Posts {
  margin-bottom: 3rem;

  @descendent header {
    .c-Posts--recent & {
      color: $dark-grey;
      font-size: 0.75em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  @descendent allLink {
    color: $light-grey;
    display: block;
    text-align: center;

    &:hover {
      color: $grey;
    }
  }

}

@component c-Post {

  @descendent meta {
    color: $light-grey;
    font-size: 0.8em;
    padding-top: 1rem;

    a {
        border-bottom: 1px solid transparent;
        display: inline-block;
        color: inherit;

      &:hover {
        border-bottom: 1px solid darken($white, 0.1);
      }
    }

    .js-touchSupported &,
    &:hover {
      color: $grey;

      a {
        color: $blue;
      }

    }

  }

  @descendent byline {
    display: none;
  }

  @descendent tag {

    &:not(:last-of-type):after {
      content: ",";
    }

  }

}
