@import "./variables";

@component c-Introduction {
  background: $white;
  padding: 5rem 0;
  position: relative;
  z-index: 2;

  flex: 1 0 auto; /* sticky footer */

  @descendent image {
    border-radius: 100%;
    min-width: 2rem;
  }

  @descendent text {

    .u-url {
      color: inherit;
      cursor: text;
    }

    h1 {
      font-size: 1.1em;

      @media (min-width: 31.25rem) {
        font-size: 2em;
      }

    }

    p a {
      border-bottom: 1px solid $grey;
      display: inline-block;

      &:hover {
        border-color: $grey;
      }
    }

  }

}
