@import "./variables";

.o-teaser {
  min-height: 2rem;

  &-link {
    border-bottom: 0;
    display: inline-block;
    line-height: 1.2;

    &:hover {
      .o-teaser-meta {
        color: $grey;
      }
    }

  }

  &-meta {
    color: $light-grey;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.5;
    margin: 0.5em 0;
  }

}
