@component o-listOfLinks {
  list-style-type: none;
  padding-left: 0;

  @descendent header {
    font-size: 0.7em;
  }

  @descendent meta {
    color: $light-grey;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1;
  }

  & + h3 {
    margin-top: 2em;
  }

  li {
    min-height: 1.8em;

    a {
      border-bottom: 0;
      display: inline-block;
      width: 100%;

      &:hover {
        .o-listOfLinks-meta {
          color: $grey;
        }
      }
    }
  }

}
