<section class="Introduction">

	<div class="container">

		<div class="Introduction-imageWrapper">
			<img src="http://en.gravatar.com/userimage/7483785/89659c7a29dc4fac894c9d7b8f8d378d.jpg?size=200" alt="">
		</div>

		<div class="Introduction-text">
			<h2>
				Hi, I'm Paul Tibbetts.
			</h2>

			<p>
				I'm a front end developer at <a href="https://thebluecube.com">The Blue Cube</a> in the Jewellery Quarter, Birmingham.
			</p>

			<p>
				I write both <a href="#">long </a> and <a href="#"> short </a>things as well as <a href="#">share links</a> to stuff.
			</p>
		</div>

	</div>

</section>
