<section class="c-Introduction h-card">

	<div class="l l-container l--g u-flexJustify--between">

		<div class="l-i u-1/5">
			<img src="https://en.gravatar.com/userimage/7483785/89659c7a29dc4fac894c9d7b8f8d378d.jpg?size=200" alt="my face" class="c-Introduction-image u-photo">
		</div>

		<div class="l-i u-7/10">
			<div class="c-Introduction-text">
				<h1>
					Hi, I'm <a href="{{baseurl}}/" class="u-url u-uid p-name">Paul Tibbetts</a>
				</h1>

				<p class="p-note">
					I'm a front end developer at
					<a href="https://thebluecube.com" class="p-org h-card">The Blue Cube</a> in the
					Jewellery Quarter, <span class="p-locality">Birmingham</span>, <span class="p-country-name">UK</span>.
				</p>

				<p>
					You've found my website where I post <a href="../pages/articles.html">articles</a> I've written, as well as my <a href="../pages/notes.html">notes</a> and <a href="../pages/links.html">links</a> to things I find on the web.
				</p>

				<p>
					You can read more about me on the <a href="../pages/about.html">about</a> page.
				</p>

				<p>
					<a href="mailto:email@paultibbetts.uk" class="u-email">email@paultibbetts.uk</a>
				</p>

				<ul class="c-SocialList u-listInline">
					<li class="c-SocialList-item">
						<a href="#" rel="me">
							Twitter
						</a>
					</li>
					<li class="c-SocialList-item">
						<a href="#" rel="me">Birmingham.io</a>
					</li>
					<li class="c-SocialList-item">
						<a href="#" rel="me">
							Instagram
						</a>
					</li>
					<li class="c-SocialList-item">
						<a href="#" rel="me">GitHub</a>
					</li>
					<li class="c-SocialList-item">
						<a href="#" rel="me">Medium</a>
					</li>
					<li class="c-SocialList-item">
						<a href="#" rel="me">Codepen</a>
					</li>
					<li class="c-SocialList-item">
						<a href="#" rel="me">Meetup</a>
					</li>
					<li class="c-SocialList-item">
						<a href="#" rel="me">LinkedIn</a>
					</li>
				</ul>

			</div>

		</div>

	</div>

</section>
