<div class="c-Posts c-Posts--recent">
	<h2 class="c-Posts-header u-textCenter">Latest Notes</h2>
	<ul class="o-listOfLinks">
		<li>
			<article class="h-entry post-41 post type-post status-publish format-aside hentry category-uncategorized post_format-post-format-aside">

				<header>
					<h1 class="p-name">optimised image</h1>
				</header>

				<div class="e-content">
					<figure id="attachment_38" style="width: 800px" class="wp-caption alignnone"><img class="size-optimised wp-image-38" src="http://allusion.dev/app/uploads/2016/08/IMG_7015-800x480.jpg" alt="Processed with VSCO with b5 preset" srcset="http://allusion.dev/app/uploads/2016/08/IMG_7015-800x480.jpg 800w, http://allusion.dev/app/uploads/2016/08/IMG_7015-300x180.jpg 300w, http://allusion.dev/app/uploads/2016/08/IMG_7015-768x461.jpg 768w, http://allusion.dev/app/uploads/2016/08/IMG_7015-1024x614.jpg 1024w, http://allusion.dev/app/uploads/2016/08/IMG_7015.jpg 1280w" sizes="(max-width: 800px) 100vw, 800px" width="800" height="480"><figcaption class="wp-caption-text">Processed with VSCO with b5 preset</figcaption></figure>
				</div>

				<footer>
					<div class="c-Post-meta">

						<div>
							<span class="c-Post-metaName">Published:</span>
							<time class="o-timestamp dt-published" datetime="2016-08-04T22:19:38+00:00">
								August 4, 2016 at 10:19 pm
							</time>
						</div>

						<span class="c-Post-byline">by
							<a href="https://paultibbetts.uk" class="p-author h-card">
								<img src="https://secure.gravatar.com/avatar/36790fabdc80d52c19e45c2df8acb55a" alt="Paul Tibbetts" class="u-photo">
							</a>
						</span>

						<span class="c-Post-metaName">Permalink:</span>

						<a href="http://allusion.dev/optimised-image/" class="c-Post-link u-url" rel="bookmark">
							http://allusion.dev/optimised-image/
						</a>

					</div>

				</footer>
			</article>
		</li>

		<li>
			<article class="h-entry post-31 post type-post status-publish format-aside hentry category-uncategorized post_format-post-format-aside">

				<header>
					<h1 class="p-name">
						Note with blockquote
					</h1>
				</header>

				<div class="e-content">
					<p>this is a description</p>
					<blockquote><p>this is a blockquote</p></blockquote>
					<p>and this is back to normal</p>
				</div>

				<footer>
					<div class="c-Post-meta">

						<div>
							<span class="c-Post-metaName">Published:</span>
							<time class="o-timestamp dt-published" datetime="2016-07-05T00:43:15+00:00">
								July 5, 2016 at 12:43 am
							</time>
						</div>

						<span class="c-Post-byline">by
							<a href="https://paultibbetts.uk" class="p-author h-card">
								<img src="https://secure.gravatar.com/avatar/36790fabdc80d52c19e45c2df8acb55a" alt="Paul Tibbetts" class="u-photo">
							</a>
						</span>


						<span class="c-Post-metaName">Permalink:</span>

						<a href="http://allusion.dev/note-with-blockquote/" class="c-Post-link u-url" rel="bookmark">
							http://allusion.dev/note-with-blockquote/
						</a>

					</div>
				</footer>
			</article>
		</li>

		<li>
			<article class="h-entry post-19 post type-post status-publish format-aside hentry category-uncategorized post_format-post-format-aside">

				<header>
					<h1 class="p-name">
						note with images
					</h1>
				</header>

				<div class="e-content">
					<h2>image with caption</h2>
					<figure id="attachment_20" style="width: 300px" class="wp-caption alignnone"><img class="size-medium wp-image-20" src="http://allusion.dev/app/uploads/2016/07/IMG_6877-300x200.jpg" alt="Processed with VSCO with hb1 preset" srcset="http://allusion.dev/app/uploads/2016/07/IMG_6877-300x200.jpg 300w, http://allusion.dev/app/uploads/2016/07/IMG_6877-768x512.jpg 768w, http://allusion.dev/app/uploads/2016/07/IMG_6877-1024x682.jpg 1024w, http://allusion.dev/app/uploads/2016/07/IMG_6877-800x533.jpg 800w, http://allusion.dev/app/uploads/2016/07/IMG_6877.jpg 1280w" sizes="(max-width: 300px) 100vw, 300px"><figcaption class="wp-caption-text">Processed with VSCO with hb1 preset</figcaption></figure>
					<h2>full size image without caption</h2>
					<p><img class="alignnone size-full wp-image-21" src="http://allusion.dev/app/uploads/2016/07/IMG_6875.jpg" alt="Processed with VSCO with hb1 preset" srcset="http://allusion.dev/app/uploads/2016/07/IMG_6875.jpg 1280w, http://allusion.dev/app/uploads/2016/07/IMG_6875-300x225.jpg 300w, http://allusion.dev/app/uploads/2016/07/IMG_6875-768x576.jpg 768w, http://allusion.dev/app/uploads/2016/07/IMG_6875-1024x768.jpg 1024w, http://allusion.dev/app/uploads/2016/07/IMG_6875-800x600.jpg 800w" sizes="(max-width: 1280px) 100vw, 1280px"></p>
					<h2>large image without caption</h2>
					<p><img class="alignnone size-large wp-image-23" src="http://allusion.dev/app/uploads/2016/07/IMG_6876-768x1024.jpg" alt="Processed with VSCO with hb1 preset" srcset="http://allusion.dev/app/uploads/2016/07/IMG_6876-768x1024.jpg 768w, http://allusion.dev/app/uploads/2016/07/IMG_6876-225x300.jpg 225w, http://allusion.dev/app/uploads/2016/07/IMG_6876-450x600.jpg 450w, http://allusion.dev/app/uploads/2016/07/IMG_6876.jpg 960w" sizes="(max-width: 768px) 100vw, 768px"></p>
					<h2>medium image without caption</h2>
					<p><img class="alignnone size-medium wp-image-24" src="http://allusion.dev/app/uploads/2016/07/IMG_6873-300x200.jpg" alt="Processed with VSCO with hb1 preset" srcset="http://allusion.dev/app/uploads/2016/07/IMG_6873-300x200.jpg 300w, http://allusion.dev/app/uploads/2016/07/IMG_6873-768x512.jpg 768w, http://allusion.dev/app/uploads/2016/07/IMG_6873-1024x682.jpg 1024w, http://allusion.dev/app/uploads/2016/07/IMG_6873-800x533.jpg 800w, http://allusion.dev/app/uploads/2016/07/IMG_6873.jpg 1280w" sizes="(max-width: 300px) 100vw, 300px"></p>
				</div>

				<footer>
					<div class="c-Post-meta">

						<div>
							<span class="c-Post-metaName">Published:</span>
							<time class="o-timestamp dt-published" datetime="2016-07-02T12:27:39+00:00">
								July 2, 2016 at 12:27 pm
							</time>
						</div>


						<span class="c-Post-byline">by
							<a href="https://paultibbetts.uk" class="p-author h-card">
								<img src="https://secure.gravatar.com/avatar/36790fabdc80d52c19e45c2df8acb55a" alt="Paul Tibbetts" class="u-photo">
							</a>
						</span>


						<span class="c-Post-metaName">Permalink:</span>

						<a href="http://allusion.dev/note-with-images/" class="c-Post-link u-url" rel="bookmark">
							http://allusion.dev/note-with-images/
						</a>

					</div>

				</footer>
			</article>
		</li>
	</ul>

	<a href="http://allusion.dev/type/aside/" class="c-Posts-allLink">
		All Notes
	</a>

</div>
