<article class="c-Post h-entry">

  <h1 class="p-name">
    {{default text toolkit.notes.single-text.text}}
  </h1>

  <footer>
    <div class="c-Post-meta">

      <span class="c-Post-metaName">Published:&nbsp;</span>

      {{> timestamp when=toolkit.notes.single-text.date}}
      from <a href="#" class="p-location h-geo">{{default location toolkit.notes.single-text.location}}</a>
      <span class="c-Post-byline">{{> byline}}</span>

      <div class="c-Post-tagsContainer">

        <span class="c-Post-metaName">Tagged:</span>

        <ul class="c-Post-tags u-listInline">
          {{#if tags}}
            {{#each tags}}
              <li class="c-Post-tag">
                <a href="#" class="c-Post-tagLink p-category">{{this}}</a></li>
            {{/each}}
          {{^}}
            {{#each toolkit.notes.single-text.tags}}
              <li class="c-Post-tag">
                <a href="#" class="c-Post-tagLink p-category">{{this}}</a></li>
            {{/each}}
          {{/if}}
        </ul>
      </div>

      <span class="c-Post-metaName">Permalink:</span>

      <a href="#" class="c-Post-permalink u-uid u-url" rel="bookmark">
        https://paultibbetts.uk/{{toolkit.notes.single-text.url}}/
      </a>

    </div>
  </footer>

</article>
