{{> header}}

<main>
  <div class="row">
    <div class="container">

      <p>Hi, my name's Paul Tibbetts and you're currently looking at my website.</p>

      <p><img src="https://placehold.it/1280x840&text=😎" alt="" class="rounded-edges"></p>

      <p>
        I'm a front end web developer for
        <a href="https://thebluecube.com">The Blue Cube</a>, based in
        the Jewellery Quarter, Birmingham UK.
      </p>

      <!-- <p>
        I run <a href="#">Homebrew Website Club Birmingham</a> every other
        Tuesday as well as <a href="#">Laravel Birmingham</a> once a month.
      </p> -->

      <p>
        For now the best online version of my CV is my <a href="https://uk.linkedin.com/in/paultibbetts">LinkedIn profile</a>.
      </p>

      <h2>What I'm interested in right now</h2>

      <p>
        Inspired by <a href="https://sivers.org/now">Derek Sivers' now page</a>, here's a list of things I'm currently working towards:

        <ul>
          <li>Writing, taking photos and integrating <a href="https://indiewebcamp.com">IndieWeb</a> features onto my own website</li>
          <li>Learning <a href="https://facebook.github.io/react/">React</a> to help me build things on the front end</li>
          <li>Learning <a href="https://laravel.com/">Laravel</a> so I can build my own apps</li>
          <li>Improving my fitness by getting back into the gym and running again</li>
          <!-- <li>Getting <a href="#">Laravel Birmingham</a> and <a href="#">Homebrew Website Club Birmingham</a> started</li> -->
        </ul>

        <!-- You can read more about these on my own <a href="{{baseurl}}/pages/now.html">now page</a>. -->

      </p>

      <p><em>Last updated:</em> February, 2016.</p>

      <h2>About this website</h2>

      <p>
        This website acts as my central hub online. It's been created with an
         <a href="https://indiewebcamp.com">indieweb</a> focus to help
         me <a href="http://indiewebcamp.com/own-your-data">own my own data</a>.
     </p>

     <p>
       It's built with WordPress using
      <a href="https://roots.io/trellis">Trellis</a>,
      <a href="https://roots.io/bedrock">Bedrock</a> and
      <a href="https://roots.io/sage">Sage</a> (all by the
      <a href="https://roots.io">Roots</a> team) with a
      <a href="https://github.com/ptibbetts/paultibbetts.uk/blob/01e45b0f400b7d03780e420d150026ae985f73fd/site/composer.json#L75-L97">whole bunch of plugins</a>.
    </p>

    <p>
      I've split the source code of it into three repositories so that I can
      concentrate on different parts of the website at different times:

    <ul>
      <li>The styleguide is available at
        <a href="https://ptibbetts.github.io/styles.paultibbetts.uk/">https://ptibbetts.github.io/styles.paultibbetts.uk/</a>
      </li>
      <li>The backend code is available at
        <a href="https://github.com/ptibbetts/paultibbetts.uk">https://github.com/ptibbetts/paultibbetts.uk</a>
      </li>
      <li>The frontend code is available at
        <a href="https://github.com/ptibbetts/allusion">https://github.com/ptibbetts/allusion</a>
      </li>
    </ul>

      <!-- The website's content is also backed up to <a href="#">it's own repository on GitHub</a>. -->
    </p>

    </div>
  </div>
</main>

{{> footer}}
