{{> header }}
<main>
    <div class="l-container u-mt++">

      <p>The best way to contact me is to email me at <a href="mailto:email@paultibbetts.uk">email@paultibbetts.uk</a></p>

      <p>I run my own email server which means your messages to me aren't <a href="https://ar.al/notes/the-camera-panopticon/">scanned by an advertising company</a>.</p>

      <p>If you wish to encrypt your message my PGP key is <a href="#">here</a>.</p>

      <h2>You can also find me on</h2>

      <p>

        <ul class="o-listOfLinks">
          <li><a href="https://talk.birmingham.io/users/paul_tibbetts">Birmingham.io <span class="o-listOfLinks-meta">@paul_tibbetts</span></a></li>
          <li><a href="https://bitbucket.org/ptibbetts">Bitbucket <span class="o-listOfLinks-meta">@ptibbetts</span></a></li>
          <li><a href="http://codepen.io/ptibbetts/">Codepen</a></li>
          <li><a href="https://www.eventbrite.co.uk/u/109337926167/">Eventbrite</a></li>
          <li><a href="https://news.ycombinator.com/user?id=ptibbetts">Hacker News <span class="o-listOfLinks-meta">@ptibbetts</span></a></li>
          <li><a href="https://github.com/ptibbetts">GitHub <span class="o-listOfLinks-meta">@ptibbetts</span></a></li>
          <li><a href="https://instagram.com/ptibbetts">Instagram <span class="o-listOfLinks-meta">@ptibbetts</span></a></li>
          <li><a href="https://uk.linkedin.com/in/paultibbetts">LinkedIn</a></li>
          <li><a href="https://medium.com/@paul_tibbetts">Medium <span class="o-listOfLinks-meta">@paul_tibbetts</span></a></li>
          <li><a href="http://www.meetup.com/members/162336332/">Meetup</a></li>
          <li><a href="https://www.mixcloud.com/paultibbetts/">Mixcloud</a></li>
          <li><a href="https://www.quora.com/profile/Paul-Tibbetts-2">Quora</a></li>
          <li><a href="https://discourse.roots.io/users/paul_tibbetts">Roots Discourse <span class="o-listOfLinks-meta">@paul_tibbetts</span></a></li>
          <li><a href="https://stackexchange.com/users/2070948/paul-tibbetts?tab=accounts">Stack Exchange</a></li>
          <li><a href="https://soundcloud.com/paultibbetts">SoundCloud</a></li>
          <li><a href="https://twitter.com/paul_tibbetts">Twitter <span class="o-listOfLinks-meta">@paul_tibbetts</span></a></li>
        </ul>

      </p>

    </div>
</main>

{{> footer}}
