@component Articles {

}

@component Article {

  &--single {

    .Article-meta {
      border-top: 1px solid $faint-grey;
      color: $light-grey;
      font-size: 0.8em;
      margin: 2rem 0 0rem;
      padding-top: 1rem;

      a {
        color: inherit;
      }

      .js-touchSupported &,
      &:hover {
        color: $grey;

        a {
          color: $blue;
        }

      }

    }

    .Article-tags {

      .Article-tag:not(:last-of-type) {
        .Article-tagLink:after {
          content: ",";
        }
      }
      
    }

  }

}
