@component Introduction {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 75vh;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 42em;
  }

  @descendent imageWrapper {
    flex: 1;
    flex-basis: 2rem;
    margin-right: 1rem;
    max-width: 10rem;

    img {
      border-radius: 100%;
      min-width: 2rem;
      max-width: 12rem;
      width: 100%;
    }

  }

  @descendent text {
    flex: 2;
    margin-left: auto;
    flex-basis: 10em;
    max-width: 25em;
    padding-right: 1em;
  }

}
