@component Posts {

  @descendent header {
    .Posts--recent & {
      color: darken($light-grey, 25);
      font-size: 0.75em;
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  @descendent allLink {
    color: $light-grey;

    &:hover {
      color: $grey;
    }
  }

}

@component Post {

  footer {
    margin-top: 1rem;
  }

  @descendent meta {
    border-top: 1px solid $faint-grey;
    color: $light-grey;
    font-size: 0.8em;
    margin: 2rem 0 0rem;
    padding-top: 1rem;

    a {
      color: inherit;

      &:hover {
        border-bottom: 1px solid darken($white, 10);
      }
    }

    .js-touchSupported &,
    &:hover {
      color: $grey;

      a {
        color: $blue;
      }

    }

  }

  @descendent byline {
    display: none;
  }

  @descendent tag {

    &:not(:last-of-type):after {
      content: ",";
    }

  }

}
