<article class="Note Note--single h-entry">

  <h1 class="p-name">
    {{default text toolkit.notes.single-image.text}}
  </h1>

  <div class="e-content">
    <img src="{{baseurl}}/{{default image toolkit.notes.single-image.image}}" alt="" class="rounded-edges">
  </div>

  <footer>
    <div class="Post-meta">

      <span class="Post-metaName">Published:&nbsp;</span>

      {{> timestamp when=toolkit.notes.single-image.date}}
      from <a href="#" class="p-location h-geo">{{default location toolkit.notes.single-image.location}}</a>
      <span class="Post-byline">{{> byline}}</span>

      <div class="Post-tagsContainer">

        <span class="Post-metaName">Tagged:</span>

        <ul class="Post-tags inline-list">
          {{#if tags}}
            {{#each tags}}
              <li class="Post-tag">
                <a href="#" class="Post-tagLink p-category">#{{this}}</a></li>
            {{/each}}
          {{^}}
            {{#each toolkit.notes.single-image.tags}}
              <li class="Post-tag">
                <a href="#" class="Post-tagLink p-category">#{{this}}</a></li>
            {{/each}}
          {{/if}}
        </ul>
      </div>

      <span class="Post-metaName">Permalink:</span>

      <a href="#" class="Post-permalink u-uid u-url" rel="bookmark">
        https://paultibbetts.uk/{{toolkit.notes.single-image.url}}/
      </a>

    </div>
  </footer>

</article>
