<div class="Article Article--single">

  <h1>{{default title toolkit.articles.single.title}}</h1>

  {{{default content toolkit.articles.single.content}}}

  <footer>
    <div class="Post-meta">

      <span class="Post-metaName">Published:&nbsp;</span>

      {{> timestamp when=toolkit.articles.single.time}} from <a href="#">{{default location toolkit.articles.single.location}}</a>

      <div class="Post-tagsContainer">

        <span class="Post-metaName">Tagged:</span>

        <ul class="Post-tags inline-list">
          {{#if tags}}
            {{#each tags}}
              <li class="Post-tag">
                <a href="#" class="Post-tagLink">#{{this}}</a></li>
            {{/each}}
          {{^}}
            {{#each toolkit.articles.single.tags}}
              <li class="Post-tag">
                <a href="#" class="Post-tagLink">#{{this}}</a></li>
            {{/each}}
          {{/if}}
        </ul>
      </div>

      <span class="Post-metaName">Permalink:</span>

      <a href="#" class="Post-link">
        https://paultibbetts.uk/2016/02/{{slugify toolkit.articles.single.title}}/
      </a>

    </div>
  </footer>

</div>
